@model List<PriceModel>

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Price Show</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </div>
    <div class="modal-body">
        <table>
            <thead>
                <tr>
                    <td><h3>.......Size............</h3></td>
                    <th><h4>Price.......</h4></th>
          
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td><h5>@item.SizeName</h5></td>
                        <td><h5>@item.Price</h5></td>
                    </tr>
                }

            </tbody>
        </table>

        <div class="modal-footer md-button">
            <button class="btn btn-light-dark" data-bs-dismiss="modal">Discard</button>

        </div>
    </div>
</div>
