@model CustomerModel
@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}
<!-- CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<!-- Categorie Menu & Slider Area Start Here -->
<div class="main-page-banner home-3">
    <div class="container">
        <div class="row">
            <!-- Vertical Menu Start Here -->
            <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                <div class="vertical-menu mb-all-30">
                    <nav>
                        <ul class="vertical-menu-list">
                            <li class="">
                                <a href="shop.html"><span><img src="/FrontEndAssets/img/vertical-menu/1.png" alt="menu-icon"></span>Automotive & Motorcycle<i class="fa fa-angle-right" aria-hidden="true"></i></a>

                                <ul class="ht-dropdown mega-child">
                                    <li>
                                        <a href="shop.html">Office chair <i class="fa fa-angle-right"></i></a>
                                        <!-- category submenu end-->
                                        <ul class="ht-dropdown mega-child">
                                            <li><a href="shop.html">Bibendum Cursus</a></li>
                                            <li><a href="shop.html">Dignissim Turpis</a></li>
                                            <li><a href="shop.html">Dining room</a></li>
                                            <li><a href="shop.html">Dining room</a></li>
                                        </ul>
                                        <!-- category submenu end-->
                                    </li>
                                    <li>
                                        <a href="shop.html">Purus Lacus <i class="fa fa-angle-right"></i></a>
                                        <!-- category submenu end-->
                                        <ul class="ht-dropdown mega-child">
                                            <li><a href="shop.html">Magna Pellentesq</a></li>
                                            <li><a href="shop.html">Molestie Tortor</a></li>
                                            <li><a href="shop.html">Vehicula Element</a></li>
                                            <li><a href="shop.html">Sagittis Blandit</a></li>
                                        </ul>
                                        <!-- category submenu end-->
                                    </li>
                                    <li><a href="shop.html">Sagittis Eget</a></li>
                                    <li><a href="shop.html">Sagittis Eget</a></li>
                                </ul>
                                <!-- category submenu end-->
                            </li>
                            <li>
                                <a href="shop.html"><span><img src="/FrontEndAssets/img/vertical-menu/3.png" alt="menu-icon"></span>Sports & Outdoors<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <!-- Vertical Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu first-megamenu">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Cameras</li>
                                            <li><a href="shop.html">Cords and Cables</a></li>
                                            <li><a href="shop.html">gps accessories</a></li>
                                            <li><a href="shop.html">Microphones</a></li>
                                            <li><a href="shop.html">Wireless Transmitters</a></li>
                                        </ul>
                                        <ul>
                                            <li class="menu-tile">GamePad</li>
                                            <li><a href="shop.html">real game hd</a></li>
                                            <li><a href="shop.html">fighting game</a></li>
                                            <li><a href="shop.html">racing pad</a></li>
                                            <li><a href="shop.html">puzzle pad</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Digital Cameras</li>
                                            <li><a href="shop.html">Camera one</a></li>
                                            <li><a href="shop.html">Camera two</a></li>
                                            <li><a href="shop.html">Camera three</a></li>
                                            <li><a href="shop.html">Camera four</a></li>
                                        </ul>
                                        <ul>
                                            <li class="menu-tile">Virtual Reality</li>
                                            <li><a href="shop.html">Reality one</a></li>
                                            <li><a href="shop.html">Reality two</a></li>
                                            <li><a href="shop.html">Reality three</a></li>
                                            <li><a href="shop.html">Reality four</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Megamenu Image Start -->
                                    <li class="megamenu-img">
                                        <a href="shop.html"><img src="/FrontEndAssets/img/vertical-menu/sub-img1.jpg" alt="menu-image"></a>
                                        <a href="shop.html"><img src="/FrontEndAssets/img/vertical-menu/sub-img2.jpg" alt="menu-image"></a>
                                        <a href="shop.html"><img src="/FrontEndAssets/img/vertical-menu/sub-img3.jpg" alt="menu-image"></a>
                                    </li>
                                    <!-- Single Megamenu Image End -->
                                </ul>
                                <!-- Vertical Mega-Menu End -->
                            </li>
                            <li>
                                <a href="shop.html"><span><img src="/FrontEndAssets/img/vertical-menu/6.png" alt="menu-icon"></span>Fashion<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <!-- Vertical Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu megamenu-two">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Men’s Fashion</li>
                                            <li><a href="shop.html">Blazers</a></li>
                                            <li><a href="shop.html">Boots</a></li>
                                            <li><a href="shop.html">pants</a></li>
                                            <li><a href="shop.html">Tops & Tees</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Women’s Fashion</li>
                                            <li><a href="shop.html">Bags</a></li>
                                            <li><a href="shop.html">Bottoms</a></li>
                                            <li><a href="shop.html">Shirts</a></li>
                                            <li><a href="shop.html">Tailored</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                </ul>
                                <!-- Vertical Mega-Menu End -->
                            </li>
                            <li>
                                <a href="shop.html"><span><img src="/FrontEndAssets/img/vertical-menu/7.png" alt="menu-icon"></span>Home & Kitchen<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <!-- Vertical Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu megamenu-two">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Large Appliances</li>
                                            <li><a href="shop.html">Armchairs</a></li>
                                            <li><a href="shop.html">Bunk Bed</a></li>
                                            <li><a href="shop.html">Mattress</a></li>
                                            <li><a href="shop.html">Sideboard</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Small Appliances</li>
                                            <li><a href="shop.html">Bootees Bags</a></li>
                                            <li><a href="shop.html">Jackets</a></li>
                                            <li><a href="shop.html">Shelf</a></li>
                                            <li><a href="shop.html">Shoes</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                </ul>
                                <!-- Vertical Mega-Menu End -->
                            </li>
                            <li>
                                <a href="shop.html">
                                    <span><img src="/FrontEndAssets/img/vertical-menu/4.png" alt="menu-icon"></span>Phones & Tablets<i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                                <!-- Vertical Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu megamenu-two">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Tablet</li>
                                            <li><a href="shop.html">tablet one</a></li>
                                            <li><a href="shop.html">tablet two</a></li>
                                            <li><a href="shop.html">tablet three</a></li>
                                            <li><a href="shop.html">tablet four</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Smartphone</li>
                                            <li><a href="shop.html">phone one</a></li>
                                            <li><a href="shop.html">phone two</a></li>
                                            <li><a href="shop.html">phone three</a></li>
                                            <li><a href="shop.html">phone four</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                </ul>
                                <!-- Vertical Mega-Menu End -->
                            </li>
                            <li>
                                <a href="shop.html"><span><img src="/FrontEndAssets/img/vertical-menu/6.png" alt="menu-icon"></span>TV & Video<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <!-- Vertical Mega-Menu Start -->
                                <ul class="ht-dropdown megamenu megamenu-two">
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Gaming Desktops</li>
                                            <li><a href="shop.html">Alpha Desktop</a></li>
                                            <li><a href="shop.html">rober Desktop</a></li>
                                            <li><a href="shop.html">Ultra Desktop </a></li>
                                            <li><a href="shop.html">beta desktop</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                    <!-- Single Column Start -->
                                    <li class="single-megamenu">
                                        <ul>
                                            <li class="menu-tile">Women’s Fashion</li>
                                            <li><a href="shop.html">3D-Capable</a></li>
                                            <li><a href="shop.html">Clearance</a></li>
                                            <li><a href="shop.html">Free Shipping Eligible</a></li>
                                            <li><a href="shop.html">On Sale</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Column End -->
                                </ul>
                                <!-- Vertical Mega-Menu End -->
                            </li>
                            <li>
                                <a href="shop.html"><span><img src="/FrontEndAssets/img/vertical-menu/5.png" alt="menu-icon"></span>Beauty</a>
                            </li>
                            <li><a href="shop.html"><span><img src="/FrontEndAssets/img/vertical-menu/8.png" alt="menu-icon"></span>Fruits & Veggies</a></li>
                            <li><a href="shop.html"><span><img src="/FrontEndAssets/img/vertical-menu/9.png" alt="menu-icon"></span>Computer & Laptop</a></li>
                            <li><a href="shop.html"><span><img src="/FrontEndAssets/img/vertical-menu/10.png" alt="menu-icon"></span>Meat & Seafood</a></li>
                            <!-- More Categoies Start -->
                            <li id="cate-toggle" class="category-menu v-cat-menu">
                                <ul>
                                    <li class="has-sub">
                                        <a href="#">More Categories</a>
                                        <ul class="category-sub">
                                            <li><a href="shop.html"><span><img src="/FrontEndAssets/img/vertical-menu/11.png" alt="menu-icon"></span>Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- More Categoies End -->
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Vertical Menu End Here -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Categorie Menu & Slider Area End Here -->
<!-- Breadcrumb Start -->
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="register.html">Register</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Register Account Start -->
<div class="register-account ptb-100 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="register-title">
                    <h3 class="mb-10">REGISTER ACCOUNT</h3>
                    <p class="mb-10">If you already have an account with us, please login at the login page.</p>
                </div>
            </div>
        </div>
        <!-- Row End -->
        <div class="row">
            <div class="col-sm-12">
                <form class="form-register" id="frmdataSave" method="post" action="#">
                    <input type="hidden" asp-for="Id" />
                    <fieldset>
                        <legend>Your Personal Details</legend>
                    
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="f-name"><span class="text-danger" id="TEXTFirstName">*</span>First Name</label>
                            <div class="col-md-10">
                                <input type="text" asp-for="FirstName" class="form-control" id="f-name" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="l-name"><span class="text-danger" id="TEXTLastName">*</span>Last Name</label>
                            <div class="col-md-10">
                                <input type="text" asp-for="LastName" class="form-control" id="l-name" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="email"><span class="text-danger" id="TEXTEmail">*</span>Enter email</label>
                            <div class="col-md-10">
                                <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Enter you email address here...">
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="number"><span class="text-danger" id="TEXTContact">*</span>Telephone</label>
                            <div class="col-md-10">
                                <input type="number" asp-for="Contact" class="form-control" placeholder="Telephone">
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="number"><span class="text-danger" id="TEXTZipCode">*</span>Zip Code</label>
                            <div class="col-md-10">
                                <input type="number" asp-for="ZipCode" class="form-control" placeholder="ZipCode">
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="number"><span class="text-danger" id="TEXTAddress">*</span> Home Address</label>
                            <div class="col-md-10">
                                <input type="text" asp-for="Address" class="form-control" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="number"><span class="text-danger" id="TEXTImageUrl">*</span>Image Url</label>
                            <div class="col-md-10">
                                <input type="file" asp-for="ImageUrl" class="form-control" placeholder="Image">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Your Password</legend>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="pwd"><span class="text-danger" id="TEXTPassword">*</span>Password:</label>
                            <div class="col-md-10">
                                <input type="text" asp-for="Password" class="form-control" id="pwd" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group d-md-flex align-items-md-center">
                            <label class="control-label col-md-2" for="pwd-confirm"><span class="text-danger" id="TEXTconformpassword">*</span>Confirm Password</label>
                            <div class="col-md-10">
                                <input type="conformpassword" asp-for="conformpassword" class="form-control" id="pwd-confirm" placeholder="Confirm password">
                            </div>
                        </div>
                    </fieldset>

                    <div class="terms">
                        <div class="float-md-right">
                            <span>I have read and agree to the <a href="#" class="agree"><b>Privacy Policy</b></a></span>
                            <input type="checkbox" name="agree" value="1"> &nbsp;
                            <input type="submit" value="Continue" class="return-customer-btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Register Account End -->
<!-- Support Area Start Here -->
<div class="support-area bdr-top">
    <div class="container">
        <div class="d-flex flex-wrap text-center">
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-gift"></i>
                </div>
                <div class="support-desc">
                    <h6>Great Value</h6>
                    <span>Nunc id ante quis tellus faucibus dictum in eget.</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-rocket"></i>
                </div>
                <div class="support-desc">
                    <h6>Worlwide Delivery</h6>
                    <span>Quisque posuere enim augue, in rhoncus diam dictum non</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-lock"></i>
                </div>
                <div class="support-desc">
                    <h6>Safe Payment</h6>
                    <span>Duis suscipit elit sem, sed mattis tellus accumsan.</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-enter-down"></i>
                </div>
                <div class="support-desc">
                    <h6>Shop Confidence</h6>
                    <span>Faucibus dictum suscipit eget metus. Duis  elit sem, sed.</span>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-users"></i>
                </div>
                <div class="support-desc">
                    <h6>24/7 Help Center</h6>
                    <span>Quisque posuere enim augue, in rhoncus diam dictum non.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Support Area End Here -->
<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>



<script>
    $(document).ready(function () {
        Savedata();
    });

    function Savedata() {
        $('#frmdataSave').submit(function (event) {
            debugger;
            event.preventDefault();
            if (Validation()) {
                var formdata = new FormData(document.getElementById('frmdataSave'));

                $.ajax({
                    type: 'POST',
                    url: '/CustomerRegistration/SaveProfile',
                    processData: false,
                    contentType: false,
                    data: formdata,
                    success: function (res) {
                        if (res == 1) {
                            toastr.info("Your Profile has been Updated!");
                        } else {
                            toastr.error("Profile not Updated.");
                        }
                    }

                })
            }

        })
    }
    function Validation() {
        debugger
        var isValid = true;

        $('form').find(':input:not([type="hidden"]):not([type="button"]):not([name="message"]):not([name="email"]):not([name="search"])').each(function () {
            debugger
            var value = $(this).val();
            var name = $(this).attr('name');

            $('#TEXT' + name).text('');

            if (value === "" && name !== undefined) {
                $('#TEXT' + name).text(name + ' is required, please fill it.');
                isValid = false;
            }
        });
        var password = $('#pwd').val();
        var confirmPassword = $('#pwd-confirm').val();

        if (password !== confirmPassword) {
            $('#TEXTconformpassword').text('Passwords do not match, please try again.');
            isValid = false;
        }

        return isValid;
    }


</script>